html {
    background-color: #2e65ab;
}

body {
    padding: 20px;
    margin: auto;
    max-width: 1500px;
    background-color: white;
}

#widthForm{
    max-width: 1000px;
    margin: auto;
}

table {
    border-collapse: collapse;
}

table th {
    border: 1px solid black;
    padding: 5px;
}

table td {
    border: 1px solid black;
    padding: 5px;
}